@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 22px; */
  letter-spacing: 0em;
}

.item {
  border: 2px solid black;
  padding: 40px;
  height: fit-content;
  width: 100%;
  display: flex;
}

.item-1 {
  background-image: url(../SHABLON-BOX/bg.png);
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 100vw rgba(198, 108, 73, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 768px;
  position: relative;
  color: #ffffff;
  flex-wrap: wrap;
  /* width: min-content; */
}
.item-text-1 {
  font-size: 64px;
}
.item-text-2 {
  font-size: 24px;
}

.topmenu {
  border: 2px solid black;
  padding: 10px;
  flex-grow: 1;
  display: flex;
}

.maintopmenu {
  border: 2px solid red;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  width: 100%;
}
.item-maintop-1 {
  flex-direction: row;
  flex-wrap: wrap;
}
.item-maintop-2 {
  flex-direction: column;
}
.item-top-1 {
  font-size: 24px;
  font-weight: 700;
  flex-grow: 5;
}

.item-maintop-1 a,
.item-maintop-1 a:hover,
.item-maintop-1 a:visited,
.item-maintop-1 a:focus,
.item-maintop-1 a:link,
.item-maintop-1 a:active {
  color: #ffffff;
  text-decoration: none;
  outline-style: none;
}
.item-maintop-2 a,
.item-maintop-2 a:hover,
.item-maintop-2 a:visited,
.item-maintop-2 a:focus,
.item-maintop-2 a:link,
.item-maintop-2 a:active {
  color: #ffffff;
  text-decoration: underline;
  outline-style: none;
}

.centertext {
  border: 2px solid black;
  padding: 10px;
  flex-grow: 1;
  display: flex;
}
.item-top-7 {
  flex-direction: column;
}

.aboutmenu {
  border: 2px solid black;
  padding: 10px;
  /* height: 500px; */
  min-height: min-content;
}
.item-2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #333333;
  min-height: 544px;
}
.item-about-1 {
  font-size: 24px;
  font-weight: 700;
}
.item-about-2,
.item-about-3 {
  text-align: justify;
}

.skillsmenu {
  border: 2px solid black;
  padding: 10px;
}
.skillsmenucentertext {
  border: 2px solid black;
  padding: 10px;
}
.item-skills-2 {
  display: flex;
  flex-direction: row;
}
.skillsmenucentertext {
  width: 100%;
}

/* .item-skillsmenucentertextcolumn-1 {
} */

.skillsmenucentertextcolumn {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  /* max-width: 100%; */
  /* flex-wrap: nowrap; */
  flex-direction: row;
}
.skillsmenucentertextcolumncontent {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
}
.skillsmenucentertextcolumnright {
  border: 2px solid black;
  padding: 10px;
}
.item-3 {
  background-color: #fffaf2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-skills-1 {
  font-size: 24px;
  font-weight: 700;
}

.item-skillsmenucentertext-1 {
  background-image: url(../SHABLON-BOX/avatar.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.item-skillsmenucentertextcolumncontent-1 {
  font-weight: 600;
}

.item-portfoliomainmenu-1 {
  font-size: 24px;
  font-weight: 700;
}

.item-portfoliomainmenu-2 {
  font-weight: 600;
}

.portfoliomainmenu {
  border: 2px solid black;
  padding: 10px;
}

.portfoliomainmenucontent {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
}
.portfoliomainmenucontentimagemain {
  border: 2px solid black;
  padding: 10px;
}
.item-portfoliomainmenucontent-2 {
  display: flex;
  flex-direction: row;
}
.portfoliomainmenucontentimagemain {
  width: 100%;
}
.portfoliomainmenucontentimageleft {
  border: 2px solid black;
  padding: 10px;
}
.portfoliomainmenucontentimageright {
  border: 2px solid black;
  padding: 10px;
}
.item-portfoliomainmenucontentimagemain-1 {
  display: flex;
  flex-direction: column;
}
.item-portfoliomainmenucontentimagemain-2 {
  display: flex;
  flex-direction: column;
}
.item-portfoliomainmenu-3 {
  display: flex;
  flex-direction: row;
}
.item-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-portfoliomainmenucontent-1 {
  text-align: justify;
}

/* 4 картинки во вкладке Portfolio */
.item-portfoliomainmenucontentimageleft-1 {
  background-image: url(../SHABLON-BOX/photo1.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.item-portfoliomainmenucontentimageleft-2 {
  background-image: url(../SHABLON-BOX/photo3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-portfoliomainmenucontentimageright-1 {
  background-image: url(../SHABLON-BOX/photo2.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.item-portfoliomainmenucontentimageright-2 {
  background-image: url(../SHABLON-BOX/photo4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.getintouchmenu {
  border: 2px solid black;
  padding: 10px;
  /* flex-wrap: wrap; */
}
.getintouchmenucontent {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.getintouchmenutext {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
}
.item-getintouchmenu-2 {
  display: flex;
  flex-direction: row;
}
.item-5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fffaf2;
}

.item-getintouchmenu-1 {
  font-size: 24px;
  font-weight: 700;
}
.item-getintouchmenu-3 {
  text-align: end;
}
.item-getintouchmenu-2 a,
.item-getintouchmenu-2 a:hover,
.item-getintouchmenu-2 a:visited,
.item-getintouchmenu-2 a:focus,
.item-getintouchmenu-2 a:link,
.item-getintouchmenu-2 a:active {
  color: #333333;
  text-decoration: none;
  outline-style: none;
}

/* бары фронт и бек (полосочки) */
.backrow {
  background-color: #f5d6ab;
  width: 446px;
  height: 24px;
  border-style: none;
}

.frontrowone {
  background-color: #c66c49;
  width: 381px;
  height: 24px;
  border-style: none;
  position: relative;
  top: -24px;
  z-index: 0;
}
.frontrowtwo {
  background-color: #c66c49;
  width: 351px;
  height: 24px;
  border-style: none;
  position: relative;
  top: -24px;
  z-index: 0;
}
.frontrowthree {
  background-color: #c66c49;
  width: 286px;
  height: 24px;
  border-style: none;
  position: relative;
  top: -24px;
  z-index: 0;
}
